.page-header {
    background-color:black;
    margin-top: 0;
    padding: 3rem 0 ;
	text-decoration: clear;
	
}

.text-white {
    color: white;
	font-size: 10rem;
}

.fa-lightbulb-o:before {
  content: "\f0eb";
  color:#ffffff;
  
}
